<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themeName</key>
	<string>darkTheme</string>
	<key>darkOrLight</key>
	<string>dark</string>
	<key>backgroundColor</key>
	<string>323233</string>
	<key>contentBackgroundColor</key>
	<string>252626</string>
	<key>textColor</key>
	<string>FFFFFF</string>
	<key>secondaryTextColor</key>
	<string>949799</string>
	<key>smallcapsHeaderColor</key>
	<string>949799</string>
	<key>tintColor</key>
	<string>4099FF</string>
	<key>inactiveColor</key>
	<string>949799</string>
	<key>downvoteColor</key>
	<string>FF4501</string>
	<key>saveColor</key>
	<string>FFBF00</string>
	<key>stickyColor</key>
	<string>2FD675</string>
	<key>separatorColor</key>
	<string>434445</string>
	<key>shadowColor</key>
	<string>1A1A1A</string>
	<key>shadowBorderColor</key>
	<string>000000</string>
	<key>shadeColor</key>
	<string>000000</string>
	<key>hiddenCommentBackground</key>
	<string>2D2D2E</string>
	<key>imageOverlayBorder</key>
	<string>FF0000</string>
</dict>
</plist>
