<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themeName</key>
	<string>lightTheme</string>
	<key>darkOrLight</key>
	<string>light</string>
	<key>backgroundColor</key>
	<string>EDEFF5</string>
	<key>contentBackgroundColor</key>
	<string>FFFFFF</string>
	<key>textColor</key>
	<string>323639</string>
	<key>secondaryTextColor</key>
	<string>8A9399</string>
	<key>smallcapsHeaderColor</key>
	<string>597080</string>
	<key>tintColor</key>
	<string>037AFF</string>
	<key>inactiveColor</key>
	<string>8A9399</string>
	<key>downvoteColor</key>
	<string>FF4501</string>
	<key>saveColor</key>
	<string>FFBF00</string>
	<key>stickyColor</key>
	<string>2FD675</string>
	<key>separatorColor</key>
	<string>E9EAF0</string>
	<key>shadeColor</key>
	<string>2B2F33</string>
	<key>shadowBorderColor</key>
	<string>E9EAF0</string>
	<key>hiddenCommentBackground</key>
	<string>F5F6FA</string>
	<key>imageOverlayBorder</key>
	<string>000E5C</string>
	<key>OLD</key>
	<dict>
		<key>shadowBorderColor</key>
		<string>8A9399</string>
		<key>backgroundColor</key>
		<string>E9EAF0</string>
		<key>dimmerColor</key>
		<string>C6C9CC</string>
	</dict>
</dict>
</plist>
